body {
     background-image: url('/musi\ \(1\).jpeg');
     background-size: cover;
}
.d1 {
     height: 320px;
     width : 580px;
}
.ta {
     margin: 0 auto;    
}
.tr {
     background-color: aqua;
     margin: 0 auto;
     margin-top: 100px;
     width: 450px;
     text-align: center;
     padding-bottom: 20px;
}
audio {
     margin-top: 20px;
     width: 330px;
     margin-left: 0px; 
}
.be {
     margin-top: 20px;
}
iframe {
     margin-top: 200px;
     width  :560px;
     height : 315px;
}